= provide(:title, 'Sign Up')
%h1 Sign up here!

%div.signupbox
  = form_for(@user) do |f| 
    = render 'shared/error_messages'

    %p
      = f.label :name
      = f.text_field :name

    %p
      = f.label :email
      = f.text_field :email

    %p
      = f.label :password  
      = f.password_field :password  

    %p
      = f.label :password_confirmation, "Confirmation"  
      = f.password_field :password_confirmation  

    = f.submit "Create my account", class: "submit" 
