%header
  %nav
    %ul.top_nav
      %li= link_to "About", about_path
      -# 
        %ul.about
          %li= link_to "Mission", #
          %li= link_to "History", #
          %li= link_to "Know Your Food", #
          %li= link_to "How We Run", #
      %li= link_to "Get Involved", get_involved_path
      %li= link_to "Products", products_path
      %li= link_to "Personal Orders", personal_orders_path
      %li= link_to "Recipes", recipes_path
      %li= link_to "Resources", resources_path
      %li= link_to "Contact Us", contact_path
