%header
  .banner
    = link_to (image_tag "banner.png"), root_path
  .nav_container
    %nav
      %ul.top_nav
        %li#home_button
          =link_to "Home", root_path
        %li#about_button
          = link_to "About Us", about_path
          %ul.sub_nav
            %li= link_to "Mission", about_path + "#mission"
            -#%li= link_to "History", about_path + "#history"
            %li= link_to "Know Your Food", about_path + "#know_your_food"
            %li= link_to "How We Run", about_path + "#how_we_run"
        %li#menu_button
          =link_to "Menu", menu_path
          %ul.sub_nav
            %li= link_to "Daily Hot Lunch", menu_path + "#lunch"
            %li= link_to "Personal Pizzas", menu_path + "#pizza"
            %li= link_to "Beverages", menu_path + "#beverages"
            %li= link_to "Dessert &amp; Snacks", menu_path + "#desserts_and_snacks"
        %li#get_involved_button
          = link_to "Get Involved", get_involved_path
          %ul.sub_nav
            %li= link_to "Membership", get_involved_path + "#membership"
            %li= link_to "Volunteer", get_involved_path + "#volunteer"
            %li= link_to "Events", get_involved_path + "#events"
            %li= link_to "Suggestions", get_involved_path + "#suggestions"
        %li#products_button
          = link_to "Products", products_path
          %ul.sub_nav
            %li= link_to "Dairy & Eggs", products_path + "#dairy_eggs"
            %li= link_to "Bulk", products_path + "#bulk"
            -#%li= link_to "Meat", products_path + "#meat"
            -#%li= link_to "Herbs", products_path + "#herbs"
            -#%li= link_to "Coffee", products_path + "#coffee"
        %li#recipes_button
          = link_to "Recipes", recipes_path
          %ul.sub_nav
            %li= link_to "Vegan", recipes_vegan_path
            %li= link_to "Vegetarian", recipes_vegetarian_path
            %li= link_to "Meat", recipes_meat_path
        %li#resources_button
          = link_to "Resources", resources_path
          %ul.sub_nav
            %li= link_to "Websites", resources_path + "#websites"
            %li= link_to "Books", resources_path + "#books"
            %li= link_to "Movies", resources_path + "#movies"
            -#%li= link_to "Zines", resources_path + "#zines"
        %li= link_to "Contact Us", contact_path
