!!! 5
%html
  %head
    %meta{ 'http-equiv' => "Content-Type", content: "text/html; charset=utf-8" }
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    %br
    %br
    = render 'layouts/flash_messages'
    #outside
      #sessions_bar
        =yield(:sessions_bar) if content_for?(:sessions_bar)
      #left_box.side_box
        =yield(:left_box) if content_for?(:left_box)
      #center_box
        =content_for?(:page_content) ? yield(:page_content) : yield
        %span.arrow ↑
        =link_to "Go To Top", "#"
      #right_box.side_box
        =yield(:right_box) if content_for?(:right_box)
    -#= debug(params) if Rails.env.development?
